section.map
  .map__canvas
  .map__contacts
    h2.map__title Контакты
    .map__contacts-addres
      .map__contacts-text г. Киев,<br> ул. Сечевих Стрельцов<br>(Артема), 77, офис 320
    .map__contacts-phones
      a(href="tel:0442231995") (044) 223 19 95 
      a(href="tel:0986398787") (098) 639 87 87
    .map__contacts-email
      a(href="mailto:office@reklor.kiev.ua") office@reklor.kiev.ua
    button(type="button" class="btn btn--orange") Написать письмо