header.page-header
  .container
    .page-header__top
    nav.main-nav
      ul.main-nav__list
        li.main-nav__item
          a(href="/") Главная
        li.main-nav__item Услуги
          ul.main-nav__list-lvl2
            li.main-nav__item.main-nav__item--dropdown Юридические услуги
              ul.main-nav__list-lvl3
                li.main-nav__item
                  a(href="#") Регистрация предприятий
                li.main-nav__item
                  a(href="#") Регистрация изменений
                li.main-nav__item
                  a(href="#") Ликвидация предприятий
                li.main-nav__item
                  a(href="#") Лицензирование
            li.main-nav__item.main-nav__item--dropdown Бухгалтерские услуги
              ul.main-nav__list-lvl3              
                li.main-nav__item
                  a(href="#") Бухгалтерское сопровождение
                li.main-nav__item
                  a(href="#") Подача отчетности
                li.main-nav__item
                  a(href="#") Анализ и аудит
            li.main-nav__item
              a(href="#") Сопровождение бизнеса
            li.main-nav__item
              a(href="#") Готовые предприятия
        li.main-nav__item
          a(href="about.html") О Компании
        li.main-nav__item
          a(href="news.html") Новости и статьи
        li.main-nav__item
          a(href="contacts.html") Контакты
