section.promo
  .promo__row
    .promo__col
      .promo__img
        img(src="img/content/femida-img.png", alt="")
    .promo-col
      h1.promo__title Юридические и Бухгалтерские услуги
      p.promo__text Правовые решения и бухгалтерское сопровождение<br> для предприятий и частных лиц
      a.btn.btn--orange.btn--big(href="/") Консультация