.btn {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: @PTSans;
  font-weight: bold;
  background: transparent;
  padding: 0 17px;
  border-radius: 10px;
  &--orange {
    color: #fff;
    background: @orange;
  }
  &--full-width {
    width: 100%;
  }
}